{% extends 'finlab/elements/layouts/outer-footer-layout.html' %}
{% load static widget_tweaks %}


{% block additional_css %}

    {% for cssurl in dz_array.pagelevel.finlab.finlab_views.css.users %}
    <link rel="stylesheet" href="{% static cssurl %}" >
    {% endfor %}

    {% for cssurl in dz_array.pagelevel.finlab.finlab_views.css.table_datatable_basic %}
    <link rel="stylesheet" href="{% static cssurl %}" >
    {% endfor %}

{% endblock %}


{% block message %}
{% include 'finlab/elements/alert.html' %}
{% endblock %}

{% block content %}

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Permissions</h4>
                </div>

                <div class="card-body">
                    <span class="table-responsive ">
                        <table id="example3" class="display table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Type de contenu</th>
                                    {% if perms.auth.change_permission or perms.auth.delete_permission %}
                                    <th scope="col">Action</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for per in permissions_obj %}
                                <tr >
                                    <td>{{ per.name }}</td>
                                    <td><span class="badge  badge-xs light badge-primary">{{ per.codename }}</span></td>
                                    <td>{{ per.content_type }}</td>
                                    {% if perms.auth.change_permission or perms.auth.delete_permission %}
                                    <td>
                                        <span class="sweetalert d-flex">
                                            {% if perms.auth.change_permission %}
                                            <a href="{% url 'finlab:edit-permissions' id=per.id %}" class="btn btn-primary shadow btn-xs sharp me-2" data-bs-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil"></i> </a>
                                            {% endif %}
                                            {% if perms.auth.delete_permission %}
                                            <a href="{% url 'finlab:delete-permissions' id=per.id %}" class="sweet-success-cancel btn btn-danger shadow btn-xs sharp me-2" data-bs-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-trash"></i></a> 
                                            {% endif %}
                                        </span>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </span>

                </div>
            </div>
        </div>


{% endblock %}


{% block additional_js %}

    {% for jsurl in dz_array.pagelevel.finlab.finlab_views.js.table_datatable_basic %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}

    {% for jsurl in dz_array.pagelevel.finlab.finlab_views.js.users %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}


<script>
    $('.sweet-success-cancel').on('click', function (event) {
           event.preventDefault();
           const url = $(this).attr('href');
   
           Swal.fire({
               title: 'Are you sure?',
               text: "You won't be able to revert this!",
               type: "warning",
               icon: 'question',
               showCancelButton: true,
               confirmButtonText: "Yes, delete it !!",
               confirmButtonText: 'Delete',
               confirmButtonColor: "#DD6B55"
               
           }).then((result) => {
               if (result.value) {
                   window.location.href = url;
               } else if (result.dismiss === Swal.DismissReason.cancel) {
                   event.preventDefault();
               }
           })
       });
   </script>
{% endblock %}


